<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form">
        <input type="text" placeholder="Digite seu nome">
        <input type="assunto" placeholder="Digite o assunto">
        <input type="tel" placeholder="(00) 0 0000-0000">
        <input type="email" placeholder="Digite o seu e-mail">
        <textarea maxlength="300" placeholder="Digite a sua mensagem"></textarea>
        <button>Enviar</button>
    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.6483530707883!2d-46.83882758511716!3d-22.999954984964546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf2a8f0facd793%3A0x45ee6929ec731ea7!2sAv.%20Prudente%20de%20Moraes%2C%20458%20-%20Vila%20Prudente%20de%20Moraes%2C%20Itatiba%20-%20SP%2C%2013251-370!5e0!3m2!1spt-BR!2sbr!4v1670439025980!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Avenida Prudente de Moraes, 458 - Vila Prudente de Moraes, Itatiba - SP</p>
    </address>
    
</section>